.listing-custom {
	.listing-item-event-date {
		&:after {
			content: none;
		}
	}
}

#block-views-team-image-block {
	.views-row {
		img {
			top:0;
		}
	}
}

.quicktabs-wrapper ul.quicktabs-tabs li {
  display: inline-block;
  float: none;
  margin: 0 -4px -1px 2%;
  padding: 0;
  cursor: pointer;
  background: #e5e5e5;
  font-size: 0.8em;
}
