/*
Featured item

Markup: html/featured-item.html

Styleguide featureditem
*/

.featured-item {
  float: left;
  display: block;
  background-color: $grey-light;
  padding: 15px 0px;

  border-left: 3px solid $yellow-light;

  &__content {
    p {
      font-size: $font-size-xsmall;
    }

    h3 {
      color: $grey-base;
    }
  }
}
