/*
Footer

Site-wide footer component

Markup: html/footer.html

Styleguide footer
*/

$footer-white-font: #fff;

.footer {
  background: $blue-dark;
  padding: 60px 0;
  color: $footer-white-font;
  font-size: $font-size-small;

  a {
    color: $footer-white-font;
  }

  label {
    color: $footer-white-font;
    font-size: 13px;
    font-weight: normal;
    float: left;
    padding: 15px 10px 0 0;
  }

}

.footer__disclaimer {
  padding-top: 3px;
}

.footer__menu {
  padding-left: 0;

  li {
    &:first-child > a {
      padding-left: 0;
    }

    a {
      padding-top: 10px;

      &:hover, &:focus {
        background: none transparent;
        text-decoration: none;
      }
    }
  }
}

.is-underlined {
  border-bottom: 1px solid #4d7cb4;
  padding-bottom: 5px;
}

@media (max-width: 600px) {
  .footer {
    padding: 20px 0;

    label {
      float: none;
      text-align: center;
      width: 100%;
    }

    .footer__disclaimer {
      text-align: center;
    }
  }

  .footer__menu {
    text-align: center;
  }
}

