/*
Footer

Site-wide footer component

Markup: html/footer.html

Styleguide footer
*/

.footer {
  background: $brand-primary;
  padding-bottom: 30px;
  color: #fff;
  font-size: $font-size-xsmall;

  a {
    color: #fff;
  }
}

.footer__label {
  display: block;
  text-align: center;
}

.footer__disclaimer {
  text-align: center;
  padding-top: 3px;
  & > * {
    width: 100%;
    display: block;
  }
}

.footer__menu {
  padding-left: 0;
  text-align: center;

  .footer__menu-item {
    &:first-child > a {
      padding-left: 0;
    }

    a {
      padding-top: 10px;

      &:hover,
      &:focus {
        background: none transparent;
        text-decoration: none;
      }
    }
  }
}

.footer__menu--underlined {
  border-bottom: 1px solid #4d7cb4;
  padding-bottom: 5px;
}

.footer__site-switcher {
  background: url('../images/svg/footer__logo.svg') no-repeat center 25px $brand-promo;
  background-size: 80px 40px;
  padding: 90px 30px 30px 30px;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
}
