// Footer
//
// A majority of buttons in the site are built from the same base class.
//
// Markup: html/footer.html
//
// Styleguide footer

.footer {
  background: $blue;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-size: $font-size-small;

  a {
    color: #fff;
  }
}
