/*
Icon

Icons using europa icons font

Markup: html/icon.html

.icon--external - External link icon
.icon--arrow-up - Arrow up icon
.icon--arrow-down - Arrow down icon
.icon--spinner - Spinner icon

Styleguide: icon
*/

@font-face {
  font-family: 'EuropaIcons';
  src: url('../fonts/europa-icons/europa-icons.eot');
  src: url('../fonts/europa-icons/europa-icons.eot?#iefix') format('embedded-opentype'),
  url('../fonts/europa-icons/europa-icons.woff') format('woff'),
  url('../fonts/europa-icons/europa-icons.ttf') format('truetype'),
  url('../fonts/europa-icons/europa-icons.svg#icomoon') format('svg');
}

.icon {
  &:before {
    display: inline-block;
    font-family: 'EuropaIcons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    margin-right: 4px;
    line-height: 1;

    // Better Font Rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

// Should be used only with @extend
.icon--after {
  display: inline-block;
  font-family: 'EuropaIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  margin-left: 4px;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Modifiers
.icon--external {
  content: '\e601';
}
.icon--external {
  &:before {
    @extend .icon--external;
  }
}

.icon--arrow-up {
  &:before {
    content: '\e607';
  }
}

.icon--arrow-down {
  &:before {
    content: '\e606';
  }
}

.icon--spinner {
  &:before {
    content: '\e984';
  }
}

.icon--facebook {
  &:before {
    content: '\e603';
  }
}

.icon--twitter {
  &:before {
    content: '\e602';
  }
}

.icon--language {
  &:before {
    content: '\e604';
  }
}

.icon--search {
  &:before {
    content: '\e605';
  }
}

// States
// creating spinning animation for an icon
// in order to enable spinning apend .is-spinning class next to the .icon class
.is-spinning:before {
  @include animation(icon-spin-right 2s infinite linear);
}

@-webkit-keyframes icon-spin-right {
  0% {
    @include rotate(0deg);
  }

  100% {
    @include rotate(359deg)
  }
}

@keyframes icon-spin-right {
  0% {
    @include rotate(0deg);
  }

  100% {
    @include rotate(359deg)
  }
}
