/*
Inpage navigation

Floating menu containing links to headings in a long page.

Markup: inpage-nav.html

Styleguide inpagenav

*/

.inpage-nav {
  &.is-navbar {
    .inpage-nav__header,
    .inpage-nav__title {
      display: inherit;
    }
  }

  .inpage-nav__header,
  .inpage-nav__title {
    display: none;
  }

  .inpage-nav__container {
    padding: 0;
    width: auto;
  }
}

.inpage-nav__block-title {
  display: inherit;
  font-size: $font-size-base;
  text-transform: uppercase;
  font-weight: normal;
  color: $grey-dark;
}

.inpage-nav__list li {
  font-size: 1em;

  & > .inpage_nav__list__item {
    &:link, &:visited {
      border: none;
      color: $grey-base;
      text-decoration: none;
      font-weight: bold;
      padding: 0px;
      margin: 0px;
      margin-top: 20px;
    }
    &:hover, &:active {
      text-decoration: underline;
      color: $blue;
      background: none;
    }
  }

  &.active {
    .inpage_nav__list__item {
      color: $blue;
      background: none;
    }
    &:before {
      background: none repeat scroll 0 0 $blue;
      content: "";
      display: block;
      height: 100%;
      left: -10px;
      position: absolute;
      top: -2px;
      width: 2px;
    }
  }
}
