/*
Inpage navigation

Floating menu containing links to headings in a long page.

Markup: inpage-nav.html

Styleguide inpagenav

*/
.inpage-nav {
 &.is-collapsed {
   .inpage-nav__help,
   .inpage-nav__close-text {
     display: block;
   }
   .inpage-nav__collapse-icon,
   .inpage-nav__current {
     display: none;
   }
   .inpage-nav__header{
     background-color: $grey-lighter;
   }
 }
}
.inpage-nav__navbar {
  background-color: $blue-dark;
  color: #ffffff;

}
.inpage-nav__header{
  .inpage-nav__current {
    color: #ffffff;
  }

  .inpage-nav__help {
    display: none;
    background-color: $grey-lighter;
    font-size: $font-size-base;
    text-transform: uppercase;
  }
}

.inpage-nav__toggle {
  height: 100%;
  margin: 0px;
  border: none;
  background-color: $blue-darkest;
  padding: $navbar-padding-vertical $navbar-padding-horizontal;
}

.inpage-nav__block-title {
  display: none;
}

.inpage-nav__title {
  display: block;
  font-size: $font-size-large;
}

.inpage-nav__close-text {
  display: none;
  font-size: $font-size-base;
  line-height: $line-height-computed;
}

.inpage-nav__collapse-icon {
  display: block;
  background: url('../images/png/arrow-thick-down.png') no-repeat center center;
  width: $line-height-computed;
  height: $line-height-computed;
}

.inpage-nav__list {
  font-size: $font-size-base;
  li > a:link {
    color: #ffffff;
  }
}

@include breakpoint(screen-sm-min) {
  .inpage-nav__navbar {
    position: relative;
    background: none;
  }

  .inpage-nav__list li {
    float: none;
    line-height: 1;
    font-size: $font-size-base;
    a:link {
     color: $grey-base;
     text-decoration: none;
     font-weight: bold;
    }
  }

  .inpage-nav__block-title {
    display: inherit;
  }
  .inpage-nav__header,
  .inpage-nav__title
  {
    display: none;
  }
}
