/*
Language select (Page)

Page specific language selection.

Markup: html/lang-select-page.html

.lang-select-page       - Default, background is light
.lang-select-page--dark - Background is dark blue or a picture

Styleguide: langselect
*/

.lang-select-page {
  @extend .hidden-print;

  background: $grey-lightest;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  display: block;
  height: 3.6em;
  position: relative;
  font-size: $font-size-xsmall;
}

.lang-select-page__left,
.lang-select-page__right {
  display: inline-block;
  & > * { @include vertical-align(); }
}

.lang-select-page__left {
  width: 9em;
}

.lang-select-page__icon {
  background: url('../images/svg/language-general.svg') no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em;
  left: 1em;

  .no-js & {
    background: url('../images/png/language-general.png') no-repeat;
    background-size: contain;
  }
}

.lang-select-page__unavailable {
  padding-left: 1em;
  text-decoration: line-through;
  left: 3em;
}

.lang-select-page__list {
  display: block;
  .lang-select-page__option {
    list-style: none;
    display: inline-block;

    & > a {
      display: inline-block;
      padding: 0 1.5em;
      line-height: 3.6;
    }

    &.is-selected {
      background: $yellow-light
    }
  }
}

.lang-select-page--dark {
  @extend .lang-select-page;
  border-top: none;
  border-bottom: none;
}