/*
Language select (Page)

Page specific language selection.

Markup: html/lang-select-page.html

.lang-select-page       - Default, background is light
.lang-select-page--dark - Background is dark blue or a picture

Styleguide: langselect
*/

.lang-select-page {
  @extend .hidden-print;

  background: $grey-lightest;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  height: 100%;
  position: relative;
  font-size: $font-size-xsmall;
  display: block;
}

.lang-select-page__left {

  & > span {
    display: inline-block;
    padding: 1em;
    vertical-align: middle;
  }

  .lang-select-page__icon {
    background: url('../images/svg/language-general.svg') no-repeat;
    margin-left: 1em;
    height: 2em;
    width: 2em;

    .no-js & {
      background: url('../images/png/language-general.png') no-repeat;
      background-size: contain;
    }
  }

  .lang-select-page__unavailable {
    text-decoration: line-through;
  }
}

.lang-select-page__list {
  padding: 0;

  .lang-select-page__option {
    list-style: none;

    & > a {
      display: block;
      padding: 0 1.5em;
      line-height: 3.6;
    }

    &.is-selected {
      background: $yellow-light
    }
  }
}

.lang-select-page--dark {
  @extend .lang-select-page;
  border-top: none;
  border-bottom: none;
}