/*
Listing

Listing components

Markup: html/listing.html

Styleguide listing
*/

.listing {
}

.listing__item {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid $grey-light;
  overflow: hidden;
  @extend .row;
}

.listing__column-main {
  @extend .col-sm-9;
}

.listing__column-second {
  float: right;
  @extend .col-sm-3;
}

.listing__title {
  color: $grey-base;
  a {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
      color: $grey-base;
    }
  }
}

.listing__meta {
  color: $grey-base;
  line-height: 1.3;
  font-size: $font-size-xsmall;
  letter-spacing: 0.02777778em;
}

.listing__meta-item {
  &:before {
    content: "|";
    color: $grey;
    margin: 0 1em;
    position: relative;
    top: -1px;
  }

  &:first-child {
    &:before {
      display: none;
    }
  }
}

.listing__meta-item--type {
  text-transform: uppercase;
}