/*
Listing

Listing components

Markup: html/listing.html

Styleguide listing
*/

.listing {
}

.listing__item {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $grey-light;
  overflow: hidden;
  list-style: none;
  list-style-image: none;
  @extend .row;
  &:first-child {
    border-top: 1px solid $grey-light;
  }
}

.listing__column-main {
  @extend .col-sm-9;
}

.listing__column-second {
  float: right;
  @extend .col-sm-3;
}

.listing__title {
  color: $grey-base;
  font-family: $font-family-sans-serif;
  font-size: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  @extend .h3;

  & + * {
    font-size: $font-size-little;
  }
}


/*
Listing title

Listing components

Markup: html/listing--title.html

Styleguide listing.title
*/
.listing--title {
  padding: 0 0 0 15px;
  .listing__item {
    padding: 0;
    margin: auto;
  }

  .listing__title {
    padding: 0;
  }

  a.listing__title,
  .listing__title a {
    display: block;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-top: 0.2em;
    color: $brand-primary;
  }
}
