/*
Listing

Listing components

Markup: html/listing.html

Styleguide listing
*/

.listing {
}

.listing__item {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $grey-light;
  overflow: hidden;
  @extend .row;
  &:first-child {
    border-top: 1px solid $grey-light;
  }
}

.listing__column-main {
  @extend .col-sm-9;
}

.listing__column-second {
  float: right;
  @extend .col-sm-3;
}

.listing__title {
  color: $grey-base;
  a {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
      color: $grey-base;
    }
  }
}


/*
Listing title

Listing components

Markup: html/listing--title.html

Styleguide listing.title
*/
.listing--title {
  .listing__item {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .listing__title {
    padding: 0;
    margin-top: 0.2em;
    font-size: 1em;
  }
}