// Logo
//
// Ec logo
//
// Markup: html/logo.html
//
// Styleguide siteheader.logo


// Component
// --------------------------------------------------
.logo {
  display: block;
  float: left;

  width: 140px;
  height: 69px;

  background: url('../images/svg/logo.svg') no-repeat;
}

.no-svg {
  .logo {
    background-image: url('../images/png/logo.png');
  }
}

.front {
  .logo {
    width: 250px;
    height: 125px;
    margin: 0 auto;

    background: url('../images/png/logo--big.png') center center no-repeat;
    background-size: 100%;
  }

  @include breakpoint(screen-xs-min) {
    .logo {
      width: 290px;
      height: 146px;
    }
  }

  @include breakpoint(screen-sm-min) {
    .logo {
      width: 378px;
      height: 192px;
    }
  }
}

@media print {
  .logo:before {
    content: url('../images/svg/logo.svg');
  }
}
