// Logo
//
// Ec logo
//
// Markup: html/logo.html
//
// Styleguide siteheader.logo


// Component
// --------------------------------------------------
.logo {
  display: block;

  width: 140px;
  height: 70px;

  background: url('../images/svg/logo.svg') no-repeat;
}

.no-svg {
  .logo {
    background-image: url('../images/png/logo.png');
  }
}
