/*
Meta

Meta is a component that is used for displaying meta information in single pages and listings
It could also be reused in blocks

Markup: html/meta.html

Styleguide meta
*/

.meta {
  width: 100%;
  color: $grey-base;
  line-height: 1.3;
  font-size: $font-size-xsmall;
  letter-spacing: 0.02777778em;
  overflow: hidden;
  margin-bottom: 0.9em;

  p {
    margin: 0;
  }
}

.meta__item {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  &:before {
    content: "|";
    color: $grey;
    margin: 0 0.8em;
    position: relative;
    top: -1px;
    float: left;
  }

  &:first-child {
    &:before {
      display: none;
    }
  }
}

.meta__item--type {
  text-transform: uppercase;
}

.meta--header {
  font-size: $font-size-little;
  margin-bottom: 0.3em;
}
