/*
Pager

Depends on 'icon' component for showing back/forward arrows.

Markup: html/pager.html

Styleguide pager
*/

.pager {
  font-weight: bold;
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
}

.pager__item {
  list-style: none;
  float: left;
  min-width: 80px;
}

.pager__btn {
  color: #fff;
  background: $blue-dark;
  display: block;
  height: 80px;
  margin: 0;
  padding: 25px 20px;

  &:hover, &:focus,
  &:active, &:visited {
    color: #fff;
  }
}

.pager__previous {
  display: none;
}

.pager__arrow-back {
  display: inline-block;
  height: 20px;
  width: 10px;
  padding-left: 10px;
  margin-right: 25px;
}

.pager__next {
  display: inline-block;
  float: right;
  margin-right: 20px;
}

.pager__arrow-forward {
  padding-left: 10px;
}

.combo {
  display: none;
  background: $grey-lighter;
  font-size: $font-size-little;
  height: 80px;
  margin: 0 3px;
  text-align: center;
}

.combo__dropdown {
  background: $grey-lighter;
  border: none;
  color: $blue-dark;
  display: block;
  margin-top: 10px;
  padding-left: 26%;
  min-width: 185px;
  width: 100%;
  clear: both;
}

.combo__container {
  display: inline-block;
}

.combo__current {
  display: none;
  padding-top: 20px;
  padding-left: 20px;
}

.combo__total {
  display: inline-block;
  font-weight: normal;
  padding-right: 20px;
}

.no-js {
  .combo__current {
    display: inline-block;
  }
  .combo__dropdown {
    display: none;
  }
}

@include breakpoint(screen-xs-min) {
  .combo {
    display: block;
  }
  .pager__previous {
    display: inline-block;
  }
  .pager__next {
    float: none;
  }
}

@include breakpoint(screen-md-min) {

}