/*
Pager

Pager component

Markup: html/pager.html

Styleguide pager
*/

.pager {
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
}

.pager__item {
  display: list-item;
  list-style: none;
  float: left;
  min-width: 80px;
}

.pager__btn {
  color: #fff;
  background: $blue-dark;
  display: block;
  height: 80px;
  margin: 0;
  padding: 25px 20px;

  &:hover, &:focus,
  &:active, &:visited {
    color: #fff;
  }
}

.pager__previous {
  .pager__arrow-back {
    display: inline-block;
    height: 20px;
    width: 10px;
    padding-left: 10px;
    margin-right: 20px;
  }
}

.pager__next {

}

.pager__arrow-forward {
  padding-left: 10px;
}

.combo {
  background: $grey-lighter;
  font-size: $font-size-little;
  height: 80px;
  margin: 0 3px;
}

.combo__dropdown {
  background: $grey-lighter;
  border: none;
  color: $blue-dark;
  display: block;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 26%;
  min-width: 185px;
  width: 100%;
  clear: both;
}

.combo__container {
  text-align: center;
}

.combo__current {
  display: inline-block;
}

.combo__total {
  display: inline-block;
}

.no-js {

}

@include breakpoint(screen-xs-min) {

}

@include breakpoint(screen-md-min) {

}