/*
Pager

Depends on 'icon' component for showing back/forward arrows.

Markup: html/pager.html

Styleguide pager
*/

.pager {
  font-weight: bold;
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
}

.pager__item {
  list-style: none;
  float: left;
  min-width: 80px;
}

.pager__btn {
  color: #fff;
  background: $blue-dark;
  display: block;
  font-size: $font-size-little;
  margin: 0;
  padding: 30px 35px;
  line-height: 1em;
  text-align: center;

  &:hover, &:focus,
  &:active, &:visited {
    color: #fff;
  }
}

// back as a child of pager
.pager__back {
  width: 45%;
}

.back__arrow {
  display: inline-block;
  height: 20px;
  width: 10px;
  position: relative;
  left: -5px;
}

// forward as a child of pager
.pager__forward {
  display: inline-block;
  float: right;
  width: 45%;
  text-align: right;
  margin-right: 10px;

  // Ajax throbber should not make button larger in height
  .pager__btn {
    height: 80px;
    overflow: hidden;
  }
}

.forward__arrow {
  padding-left: 10px;
  height: 20px;
  display: inline-block;
}

.forward__text {
  display: none;
}

// combo is a assumed to be a standalone element
.combo {
  display: none;
  background: $grey-lighter;
  font-size: $font-size-little;
  height: 80px;
  margin: 0 3px;
  text-align: center;
}

.combo__dropdown {
  background: $grey-lighter;
  border: none;
  color: $blue-dark;
  display: block;
  margin-top: 10px;
  padding-left: 26%;
  min-width: 185px;
  width: 100%;
  clear: both;
}

.combo__container {
  display: inline-block;
}

.combo__current {
  display: none;
  padding-top: 20px;
  padding-left: 20px;
}

.combo__total {
  display: inline-block;
  font-weight: normal;
  padding-right: 20px;
}

.no-js {
  .combo__current {
    display: inline-block;
  }
  .combo__dropdown {
    display: none;
  }
}

@include breakpoint(screen-xs-min) {
  .combo {
    display: block;
  }
  .pager__back {
    width: auto;
  }
  .pager__forward {
    float: none;
    width: 160px;
  }
  .forward__text {
    display: inline;
    padding-left: 25px;
    float: left;
  }
}