.js .site-menu {
  height: 0;
  &.collapse {
    height: inherit;
  }
}

.site-menu__section {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-top: 2em;
  padding-bottom: 1.5em;
  &:last-child {
    border: none;
  }
}

.site-menu__toggle {
  .btn {
    width: 100%;
  }
}

.site-menu {
  .btn-ctn {
    @extend .btn-ctn--border;
  }
}
