/*
Site header

Markup: html/site-header.html

Styleguide: siteheader
*/

.site-header {
  background: $brand-primary;
  color: #fff;
  padding-top: 15px;
  position: relative;
  .site-header__logo {
    margin-bottom: 15px;
  }
}
