.js .site-menu {
  height: 0;
  &.collapse {
    height: inherit;
  }
}

.site-menu__row {
  @extend .row--separated;
  &:last-child {
    border: none;
  }
}

.site-menu__toggle {
  position: static;
  float: left;
  padding-left: 10px;
}

.site-menu {
  .btn-ctn {
    @extend .btn-ctn--border;
  }
}
