/*
Site header

Markup: html/site-header.html

Styleguide: siteheader
*/

.site-header {
  color: $brand-primary;
  padding-top: 15px;
  position: relative;
  .site-header__logo {
    margin-bottom: 15px;
  }
  @media print {
    -webkit-print-color-adjust: exact;
    background-color: $brand-primary !important;
  }

  & > .container-fluid {
    position: relative;
  }
}
