/*
Site header

Markup: html/site-header.html

Styleguide: siteheader
*/

.site-header {
  color: $brand-primary;
  padding: 24px 0;
  position: relative;
  .site-header__logo {
  }
  @media print {
    -webkit-print-color-adjust: exact;
    background-color: $brand-primary !important;
  }

  & > .container-fluid {
    position: relative;
  }
}

.front {
  .site-header {
    padding-bottom: 0;
  }
}