.js .site-menu {
  height: 0;
  &.collapse {
    height: inherit;
  }
}

.site-menu__row {
  @extend .row--separated;
  &:last-child {
    border: none;
  }
}

.site-menu__toggle {
  .btn {
    width: 100%;
  }
}

.site-menu {
  .btn-ctn {
    @extend .btn-ctn--border;
  }
}
