// Site slogan
//
// Markup: html/site-slogan.html
//
// Styleguide siteheader.site-slogan

.site-slogan {
  text-align: center;
  margin-bottom: 2em;
  font-weight: 400;
  font-size: 1em;
  padding-top: 0.4em;

  @include breakpoint(screen-xs-min) {
    font-size: 1.3em;
  }

  @include breakpoint(screen-sm-min) {
    font-size: 1.667em;
  }
}