.under-header {
  background: #ececec;
  padding: 2em;

  picture {
    float: right;
  }
}

.team-contact__email {
  display: inline-block;
}

.views-field-field-biography-address-thoroughfare,
.views-field-field-biography-address-locality,
.views-field-field-biography-address-country {
  margin-left: 11em;
}