.team-contact-wrapper {
  background: $grey-lightest;
  padding: 1.5em;
}

.team-contact {

  .listing__item {
    border: none;
    overflow: visible;
  }

  picture {
    float: right;
    margin-top: -2em;
  }

  .label {
    margin-bottom: 0.5em;
  }

  .label--aligned {
    width: 7em;
    padding-right: 0;
  }

  .btn-default {
    margin: 1.5em 0 0 7em;
  }

  .team-contact__email,
  .team-contact__address {
    display: inline-block;
  }
}
