/*
Timeline

Markup: html/timeline.html

Styleguide timeline
*/
.timeline {
  border-left: 4px solid $yellow-light;
  padding-left: 1.667em;
  padding-bottom: 0.833em;
  position: relative;

  .timeline__item-title {
    font-weight: bold;
    line-height: 1em;
    &:before {
      content: '';
      position: absolute;
      background: #fff;
      border: 3px solid $grey-dark;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      left: -0.6em;
      margin-top: 0.2em;
    }
  }
  .timeline__text {
    margin-top: 0.2em;
    margin-bottom: 1em;
    ul,
    ol {
      padding-left: 0;
      list-style: none !important;
    }
    ul > li {
      color: $grey-dark !important;
    }
    & > * {
      margin-bottom: 0 !important;
    }
  }

  .btn-time-line {
    background-color: $yellow-light;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
  }
  .icon--down {
    top: 3px;
    position: relative;
    left: 4px;
  }
}

.timeline__emptyheader {
  height: 3em;
}
.listing--no-border .listing__item {
  border: none !important;
  overflow: inherit;
}

.view-footer > .timeline {
  margin-bottom: 1em;
}

.timeline__footer {
  margin-bottom: 1em;
  padding-bottom: 0;
}
@include breakpoint(screen-xs-min) {
  .timeline {
    .timeline__item-title {
      &:before {
        margin-left: 2px;
      }
    }
  }
}
