[submodule "acquia-cloud"]
	path = acquia-cloud
	url = ecfpfis@svn-3084.devcloud.hosting.acquia.com:ecfpfis.git
[submodule "platform"]
	path = platform
	url = https://github.com/ec-europa/platform-dev.git
