[submodule "acquia-cloud"]
	path = acquia-cloud
	url = beta@svn-3992.devcloud.hosting.acquia.com:beta.git
[submodule "platform"]
	path = platform
	url = https://webgate.ec.europa.eu/CITnet/stash/scm/nexteuropa/platform-dev.git
	branch = develop
