# Ignore path to db dumps
_db_dumps

# Sublime Ignore
*.sublime-*

# PhpStrom .idea
.idea/

.svn
bin
vendor
build
docroot
build.properties.local
tmp
project/settings.php
project/sites.php
project/files
