/*
Checkbox

Markup: html/checkbox.html

Styleguide form.checkbox
*/

/*
 * Please
 * @see http://bootsnipp.com/snippets/featured/funky-radio-buttons
 * @see http://webdesign.tutsplus.com/tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953
 */

// Variables

// Unchecked.
$form-checkbox-color-unchecked:                   #575757;
$form-checkbox-background-color-unchecked:        #ececec;

// Unchecked, hover.
$form-checkbox-color-unchecked-hover:             $form-checkbox-color-unchecked;
$form-checkbox-border-color-unchecked-hover:      #006fb4;
$form-checkbox-background-color-unchecked-hover:  #ffffff;

// Checked.
$form-checkbox-color-checked:                     #ffffff;
$form-checkbox-background-color-checked:          #006fb4;

// Checked, hover.
$form-checkbox-color-checked-hover:               $form-checkbox-color-checked;
$form-checkbox-border-color-checked-hover:        #ffffff;
$form-checkbox-background-color-checked-hover:    $form-checkbox-background-color-checked;

// Icon size.
$form-checkbox-icon-size:                         20px;

// Component
.checkbox {
  margin-bottom: 6px;

  // Label in every browser.
  label {
    color: $form-checkbox-color-unchecked;
    height: $form-control-height;
    line-height: $form-control-height;
    display: block;
    text-align: left;
    border: transparent solid 2px;
    border-radius: 0;
  }

  input {
    margin: 1px 0 0 13px;
  }

  // Checkbox.
  input[type="checkbox"] {
    height: $form-control-height;
    line-height: 40px;
    margin-left: -9999px;
    position: relative;
    float: left;

    // Default state.
    &:not(checked)+label {
      background-color: $form-checkbox-background-color-unchecked;
      // border: solid 1px;
      padding-left: 50px;

      &:before {
        content: '';
        position: absolute;
        display: block;
        width: $form-checkbox-icon-size;
        height: $form-checkbox-icon-size;
        top: 12px;
        left: 20px;
        background: url(../images/svg/checkbox-radio.svg) no-repeat;
        background-size: auto $form-checkbox-icon-size;
      }
    }

    // Checked state.
    &:checked+label {
      color: $form-checkbox-color-checked;
      background-color: $form-checkbox-background-color-checked;

      &:before {
        background-position: -$form-checkbox-icon-size 0;
      }
    }

    // Hover state, not checked.
    &:hover:not(checked)+label {
      color: $form-checkbox-color-unchecked-hover;
      border: $form-checkbox-border-color-unchecked-hover solid 2px;
      background-color: $form-checkbox-background-color-unchecked-hover;
    }

    // Hover state, checked.
    &:hover:checked+label {
      color: $form-checkbox-color-checked-hover;
      border: $form-checkbox-border-color-checked-hover solid 2px;
      background-color: $form-checkbox-background-color-checked-hover;
    }
  }
}


.no-svg {
  .checkbox {
    input[type="checkbox"] {
      &:before {
        background-image: url(../images/png/checkbox-radio.png);
      }
    }
  }
}