/*
Form Group

Markup: html/form-group.html

.has-error - Error: the filed contains an error.

Styleguide form.form-group
*/

.form-group {
  background-color: #fff;
  line-height: $form-group-line-height;
  font-size: $form-item-label-font-size;
  &.has-error {

  }
}
