/*
Form

Styleguide form
*/

.form-control {
  background-color: $form-item-background-color;
  color: $form-item-text-color;
  border: 1px solid $form-item-border-color;
  border-radius: 0;
  &.focus {
    border-color: $input-border-focus;
    @include box-shadow(none);
  }
}
