/*
Form

Styleguide form
*/

.form-control {
  color: $form-control-text-color;
  background-color: $form-control-background-color;
  border: 1px solid $form-control-border-color;
  border-radius: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  &:focus,
  &.focused,
  .has-error &:focus {
    border-color: $form-control-border-color-focus;
    @include box-shadow(none);
  }
  &.disabled {
    color: $form-control-text-color-disabled;
    background-color: $form-control-background-color-disabled;
  }
}
