/*
Form Group

Markup: html/form-group.html

Styleguide form.form-group
*/

.form-group {
  font-family: $font-family-sans-serif;
  background-color: #fff;
  line-height: $form-group-line-height;
  font-size: $form-group-font-size;
}
