/*
Help Block

Markup: html/help_block.html

Styleguide form.help-block
*/
.help-block {
  font-family: $font-family-sans-serif;
  color: $form-group-help-block-text-color;
  &.is-disabled {
    color: $form-group-help-block-text-color-disabled;
  }
  &.has-error {
    // Disable settings of base Bootstrap.
    color: $form-group-help-block-text-color-has-error;
  }
}
