/*
Label

Markup: html/label.html

Styleguide form.label
*/

.label {
  color: $form-control-text-color;
  font-size: $form-group-font-size;
  padding: 0;
  margin-bottom: 10px;
  &.is-disabled {
    color: $form-control-text-color-disabled;
  }
}

label {
  @extend .label;
}