/*
Drop down selector

Markup: html/select.html

Styleguide form.select
*/

.select {

  // Hover state.
  &:hover,
  &.hover {
    border-color: $form-control-border-select-color-hover;
  }

  // Down state.
  &.down {
    border-color: $form-control-border-select-color-down;
  }
}

select {
  @extend .select;
}
