/* Header bottom

  The area containing the breadcrumb
*/

.region-header-bottom {
  background: $brand-primary;
  margin: 0 -15px;
  padding: 0 15px;
  position: relative;
  border-bottom: 1px solid #fff;
}