.page-bottom-header {
  margin-top: -1px;
}

.page-bottom-header--full-grey {
  background: $grey-lightest;
  padding: 1em 0;

  .listing__item {
    border: none;
    overflow: visible;

    &:first-child {
      border: none;
    }
  }

  img {
    float: right;
    margin-top: -2em;
  }

  .field--labeled .field__label {
    padding: 0;
    font-size: $font-size-little;
    font-weight: 600;
    width: 8em;
  }

  .btn-default {
    margin: 1em 0 0 9em;
  }
}

@media screen and (max-width: $screen-sm) {
  .page-bottom-header--full-grey {

    .field--labeled {
      .field__label,
      .field__items {
        padding: 0;
        width: 100%;
      }
    }
    .btn-default {
      margin-left: 0;
    }
  }
}