.top-bar {
  margin-top: 15px;
  overflow: hidden;
  width: 100%;

  .block-nexteuropa-europa-search {
    width: 100%;
    @extend .col-xs-9;
  }

  .site-menu__toggle {
    width: 100%;
    @extend .col-xs-3;
  }
}

@include breakpoint(screen-md-min) {
  .top-bar {
    width: auto;
    float: right;

    & > .region {
      padding: 0;
      margin: 0;
    }

    .block-nexteuropa-europa-search {
      width: auto;
      padding-left: 10px;
      padding-right: 0;
    }

    .site-menu__toggle {
      position: static;
      float: left;
      padding-left: 10px;
      width: auto;
    }
  }
}
