// Bootstrap overrides and new variables

// Colors
$grey-base:              #000;
$grey-darker:            #404040;
$grey-dark:              #575757;
$grey:                   #b3b4b5;
$grey-light:             #e2e2e2;
$grey-lighter:           #ececec;
$grey-lightest:          #f2f2f2;

$blue-light:             #b0c5de;
$blue:                   #006fb4;
$blue-dark:              #004494;
$blue-darker:            darken($blue-dark, 10%);

$yellow-light:           #ffd617;
$yellow:                 #ffc412;
$yellow-dark:            #f2a615;

$green:                  #467a39;

$red:                    #da2131;

$brand-primary:          $blue;
$brand-success:          $green;
$brand-info:             $grey-dark;
$brand-warning:          $yellow-dark;
$brand-danger:           $red;

// Typegraphy
$font-family-sans-serif:  Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          15px; // desktop default 18px
$font-size-big:           1.333em; // 24px
$font-size-little:        0.889em; // 16px
$font-size-xsmall:        0.933em; // 14px

$font-size-h1:            2.222em;
$font-size-h2:            1.667em;
$font-size-h3:            1.556em;
$font-size-h4:            1.222em;
$font-size-h5:            1em;
$font-size-h6:            0.778em;

$font-weight-normal:      400;
$font-weight-bold:        600;

// Form colors.
$form-control-text-color:                     #404040;
$form-control-text-color-focus:               #000000;
$form-control-text-color-disabled:            #b3b4b5;
$form-control-border-color:                   #b3b4b5;
$form-control-border-color-focus:             #ffd617;
$form-control-background-color:               #ffffff;
$form-control-background-color-disabled:      #e2e2e2;
$state-danger-text:                           #ff2423;
$form-group-help-block-text-color:            #575757;
$form-group-help-block-text-color-disabled:   $form-control-text-color-disabled;
$form-group-help-block-text-color-has-error:  $form-group-help-block-text-color;
$form-group-feedback-text-color:              #575757;
$form-group-feedback-text-color-disabled:     $form-control-text-color-disabled;
$form-group-feedback-text-color-has-error:    $form-group-help-block-text-color;
$form-group-feedback-background-color:        #e2e2e2;
$form-group-feedback-icon-size:               30px;


// Fonts sizing.
$form-group-line-height:              24px;
$form-group-font-size:           16px;
$form-item-legend-font-size:          16px;

// In order to override the 'default!', bootstrap variables have to be added
// after the overrides
@import "../bootstrap-sass/bootstrap/variables";
