<span class="lang-select-page {{modifier_class}}">
  <span class="lang-select-page__left">
      <span class="lang-select-page__current">Francais</span>
  </span>
  <span class="lang-select-page__right">
    <ul class="lang-select-page__list">
      <li class="lang-select-page__option is-selected"><a href="#">English</a></li>
      <li class="lang-select-page__option"><a href="#">Nederlands</a></li>
      <li class="lang-select-page__option"><a href="#">hrvatski</a></li>
      <li class="lang-select-page__option"><a href="#">italiano</a></li>
      <li class="lang-select-page__option"><a href="#">latviesu</a></li>
      <li class="lang-select-page__option"><a href="#">magyar</a></li>
    </ul>
  </span>
</span>
