<div class="listing--cabinet [modifier class]">
  <div class="cabinet-top-wrapper">
    <div class="listing--cabinet__picture field">
      <img src="http://placehold.it/130x130">
    </div>
    <span class="label label--upper field">head of cabinet</span>
    <h3 class="listing--cabinet__name field">Stefano Manservisi</h3>
    <div class="listing--cabinet__email field">
      <span class="label label--aligned">E-mail</span>
      <a href="mailto:test@test.it">test@test.it</a>
    </div>
    <div class="listing--cabinet__phone field">
      <span class="label label--aligned">Phone number</span>
        <a href="tel:3465473723">3465473723</a>
    </div>
    <div class="listing--cabinet__social field">
      <span class="label label--aligned--top">Social networks</span>
      <div class="listing--cabinet__social_icons">
        <div class="social_network_links social-network-link-0 social_network_link_default">
          <a title="twitter" class="twitter social_network_link icon" href="http://twitter.com">
            <img alt="" src="http://placehold.it/50x50" typeof="foaf:Image">
            <span>twitter</span>
          </a>
        </div>
        <div class="social_network_links social-network-link-1 social_network_link_default">
          <a title="facebook" class="facebook social_network_link icon" href="facebook.com">
            <img alt="" src="http://placehold.it/50x50" typeof="foaf:Image">
            <span>facebook</span>
          </a>
        </div>
      </div>
    </div>
  </div> <!-- .team-member-top-wrapper END -->

  <div class="cabinet-bottom-wrapper">
    <span class="label label--aligned--top">Responsabilities</span>
    <div class="listing--cabinet__body">
      <ul><li align="left">Overall strategic coordination Commission &amp; EEAS IT</li></ul>
      <ul>
        <li>European Council IT</li>
        <li>G-7/8 IT</li>
        <li>G-20 IT</li>
        <li>Relex Commissioner Group IT</li>
        <li>EUSRs IT</li>
        <li>Personnel: Commission &amp; EEAS</li>
        <li>Institutional matters IT</li>
      </ul>
    </div>
  </div> <!-- .team-member-bottom-wrapper END -->
</div>