<div class="listing__wrapper">
  <ul class="listing listing--title">
    <li class="listing__item">
      <h3 class="listing__title"><a href="#">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</a></h3>
    </li>
    <li class="listing__item">
      <h3 class="listing__title"><a href="#">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</a></h3>
    </li>
    <li class="listing__item">
      <h3 class="listing__title"><a href="#">Culpa cum ducimus eius enim, facere fugit libero magni mollitia nam.</a></h3>
    </li>
  </ul>
</div>
