<div class="listing--agenda [modifier class]">
  <div class="listing__item">
    <a href="#" class="listing__item-link">
      <div class="date-block">
        <span class="date-block__day_text">Mon</span>
        <span class="date-block__day">12</span>
        <span class="date-block__month">Oct</span>
      </div>
      <div class="listing__column-main">
        <div class="listing__meta">
          <span class="listing__meta-item listing__meta-item--type">COLLEGE MEETING</span>
        </div>
        <h3 class="listing__title">Meeting of the College of Commissioners</h3>
        <div class="listing__with">
          With: Jean-Claude Juncker
        </div>
      </div>
    </a>
  </div>
  <div class="listing__item">
    <a href="#" class="listing__item-link">
      <div class="date-block">
        <span class="date-block__day_text">Mon</span>
        <span class="date-block__day">12</span>
        <span class="date-block__month">Oct</span>
      </div>
      <div class="listing__column-main">
        <div class="listing__meta">
          <span class="listing__meta-item listing__meta-item--type">COLLEGE MEETING</span>
        </div>
        <h3 class="listing__title">Meeting of the College of Commissioners</h3>
        <div class="listing__with">
          With: Jean-Claude Juncker
        </div>
      </div>
    </a>
  </div>
</div>
