<div class="splash-page">
  <div class="splash-page__content">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <nav class="splash-page__container">
            <h2><span class="icon icon--generic-lang"></span> Select your language</h2>
            <div class="row">
              <div class="col-sm-6 splash-page__language">
                <a href="/index_en" lang="en" hreflang="en" class="splash-page__btn-language is-active btn icon icon--check" data-languagespecific="true">English</a>
              </div>
            </div>
            <div class="splash-page__helper-text"></div>
            <a href="/index_en" class="splash-page__btn-close">Close</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>