.feedback-component {
  background: #006fb4;
  border-top: 1px solid #006fb4;
  margin: 0;
  font-size: 16px;
  padding-bottom: 24px; }
  .feedback-component form {
    margin: 0; }

.feedback-component__wrapper {
  background: #fff; }
  .feedback-component__wrapper:hover, .feedback-component__wrapper:active, .feedback-component__wrapper:focus, .feedback-component__wrapper.region-open {
    background: #f2f2f2; }

.region-footer-top {
  min-height: 40px; }

.region-footer-wrapper {
  color: #fff;
  padding: 12px 0 10px;
  overflow: hidden;
  line-height: 1; }
  .region-footer-wrapper .nav {
    margin-top: 24px; }
    .region-footer-wrapper .nav > li {
      float: left;
      clear: both;
      width: 100%;
      text-align: center;
      margin-bottom: 12px;
      white-space: nowrap; }
      .region-footer-wrapper .nav > li > a {
        color: #fff;
        padding: 0;
        display: inline;
        font-weight: normal; }
        .region-footer-wrapper .nav > li > a:hover, .region-footer-wrapper .nav > li > a:active, .region-footer-wrapper .nav > li > a:focus {
          color: #fff;
          background: none;
          text-decoration: underline; }

#feedback-trigger {
  color: #006fb4;
  display: block;
  padding: 12px 0 10px; }

.feedback-form-content-inner {
  margin: 1em 0 2em; }

#feedback-text {
  font-weight: bold;
  margin-bottom: 0.5em; }

#feedback-accordion {
  margin-bottom: 1em;
  border: 1px solid #575757; }
  #feedback-accordion .accordion-group {
    border-top: 1px solid #575757;
    padding: 10px; }
    #feedback-accordion .accordion-group:first-child {
      border-top: none; }
    #feedback-accordion .accordion-group .accordion-toggle {
      background: url("images/svg/checkbox-checked.svg") no-repeat 0 0;
      line-height: 20px;
      padding-left: 25px;
      color: #006fb4;
      text-decoration: none;
      font-weight: bold;
      display: block;
      text-decoration: none; }
      #feedback-accordion .accordion-group .accordion-toggle.collapsed {
        background: url("images/svg/checkbox-unchecked.svg") no-repeat 0 0;
        color: #404040;
        font-weight: 400; }
        #feedback-accordion .accordion-group .accordion-toggle.collapsed:focus {
          text-decoration: underline; }
    #feedback-accordion .accordion-group .accordion-body {
      padding-left: 25px; }
      #feedback-accordion .accordion-group .accordion-body .accordion-inner {
        margin-top: 15px; }

@media (max-width: 768px) {
  #feedback-text {
    margin-left: 35px; } }
