#footer {
    background: #006fb4;
    border-top: 1px solid #006fb4;
    margin: 0;
    font-size: 16px;
    padding-bottom: 24px;
}

.region-footer-top-wrapper {
    background: #fff
}

.region-footer-top-wrapper:hover,.region-footer-top-wrapper:active,.region-footer-top-wrapper:focus,.region-footer-top-wrapper.region-open {
    background: #f2f2f2
}

.region-footer-top {
    min-height: 40px
}

.region-footer-wrapper {
    color: #fff;
    padding: 12px 0 10px;
    overflow: hidden;
    line-height: 1
}

.region-footer-wrapper .nav {
    margin-top: 24px
}

.region-footer-wrapper .nav>li {
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
    white-space: nowrap
}

.region-footer-wrapper .nav>li>a {
    color: #fff;
    padding: 0;
    display: inline;
    font-weight: normal
}

.region-footer-wrapper .nav>li>a:hover,.region-footer-wrapper .nav>li>a:active,.region-footer-wrapper .nav>li>a:focus {
    color: #fff;
    background: none;
    text-decoration: underline
}