// Datepicker
//
// This example is based on jQuery Datepicker widget. It requires both jQuery and jQuery UI libraries.
// Also, it assumes that the default CSS styles from jQuery UI are included as well.
// The CSS applied from styleguide is an override over the default CSS of jQuery UI.
//
// Markup: datepicker.html
//
// Styleguide datepicker

#ui-datepicker-div {
  border: none;
}

.ui-datepicker {
  border: none;
  border-radius: 0;
  font-family: $font-family-sans-serif;
  padding: 0;

  .ui-datepicker-title {
    select {
      margin: 0;
    }
  }

  .ui-datepicker-header {
    background: #393939;
    border: none;
    border-radius: 0;
    padding: 0 !important;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    .ui-icon{
      width: 9px;
      background: url('../images/svg/arrow.svg') no-repeat;
    }
  }

  .ui-datepicker-prev {
    .ui-icon {
      top: 0 !important;
      @include rotate(-180deg);
    }
  }


  .ui-datepicker-next-hover,
  .ui-datepicker-prev-hover {
    background: none;
    border: none;
    cursor: pointer;
  }

  .ui-datepicker-month,
  .ui-datepicker-year {
    background: #4f4f4f;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    height: 35px;
  }

  .ui-datepicker-month {
    margin-right: 4px !important;
  }

  table.ui-datepicker-calendar {
    background: #eaeaea;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;

    th {
      font-size: 16px;
      font-weight: normal;
    }
  }

  .ui-state-default {
    border: none;
    background: #fff;
    color: #404040;
    text-align: center;
    margin: 1px;
  }

  .ui-state-active {
    border: 2px solid #0b64b2;
  }

  .ui-state-highlight {
    background: #fed500;
    color: #000;
  }
}

.no-svg {
  .ui-datepicker-prev,
  .ui-datepicker-next {
    .ui-icon {
      background: url('../images/png/arrow.png') no-repeat;
    }
  }
}
