// Small footer
//
// Small footer
//
// Markup: footer-small.html
//
// Styleguide footer.small

$footer-white-font: #fff;

.region-footer-small {
  background: $blue-dark;
  padding: 60px 0;
  color: $footer-white-font;
  font-size: $font-size-small;

  a {
    color: $footer-white-font;
  }

  h2 {
    color: $footer-white-font;
    display: inline-block;
    float: left;
    font-size: $font-size-base;
    font-weight: normal;
    padding: 15px 0 5px 0;
  }

  .block-menu {
    ul li {
      display: inline-block;

      a {
        padding-top: 10px;
      }
    }
  }

}
