<div class="container-fluid">
    <div class="region-footer-small">
        <section id="block-menu-menu-european-commission-links" class="block-menu">
            <h2>View the European Commission on :</h2>
            <ul class="menu nav">
                <li><a href="https://www.facebook.com/EuropeanCommission" title="EC facebook page" class="facebook-icon">Facebook</a></li>
                <li><a href="https://twitter.com/eu_commission" title="EC twitter page" class="twitter-icon">Twitter</a></li>
                <li><a href="/other-social-media" title="Other EC social media">Other social media</a></li>
            </ul>
        </section>
        <section id="block-menu-menu-service-tools" class="block-menu">
            <ul class="menu nav">
                <li><a href="http://ec.europa.eu/geninfo/legal_notices_en.htm">Legal notice</a></li>
                <li><a href="http://ec.europa.eu/cookies/index_en.htm">Cookies</a></li>
                <li><a href="http://ec.europa.eu/contact/index_en.htm">Contact on Europa</a></li>
                <li><a href="http://ec.europa.eu/geninfo/query/search_en.html">Search on Europa</a></li>
            </ul>
        </section>
        <section id="block-bean-copyright" class="block">
            <p>© European Commission copyright. All content available under XX <a href="#">license</a>.</p>
        </section>
    </div>
</div>