// Link
//
// Markup: link.html
//
// :hover - Hover state
// :visited - Visited state
// :active - Active state
// :focus - Focus state
//
// Styleguide text.link

a {
  &:hover,
  &:active,
  &:focus {
    color: $grey-base;
    text-decoration: underline;
  }

  &[href^="http"],
  &[href^="https"] {
    &:after {
      font-family: 'EuropaIcons';
      content: '\e601';
      display: inline-block;
      font-size: 80%;
      margin-left: 0.4em;
      margin-right: 0.2em;
    }
  }
}
