/*
Paragraphs

Markup: html/paragraphs.html

Styleguide text.paragraphs
*/

.paragraph {
  margin-bottom: 0.8em;
  max-width: 32em;
}

p {
  @extend .paragraph;
}

.paragraph-lg-9 {
  p {
    @extend .col-lg-9;
    max-width: inherit;
  }
}