// Logo
//
// A majority of buttons in the site are built from the same base class.
//
// Markup: logo.html
//
// Styleguide header.logo


// Component
// --------------------------------------------------
.logo {
  display: block;

  width: 170px;
  height: 45px;

  background: url('../images/svg/logo.svg') no-repeat;
}
